In [1]:
import pandas as pd

In [6]:
hsdf = pd.read_csv('HS_df.csv')

In [8]:
tariff = pd.read_csv('TariffDf.csv')

In [15]:
tariff = tariff.drop(columns=['Unnamed: 0'])

In [18]:
hsdf = hsdf.drop(columns=['Unnamed: 0'])

In [19]:
hsdf.head()

        HS부호   한글품목명              영문품목명 중량단위코드
0  101211000  농가 사육용  For farm breeding     KG
1  101219000      기타              Other     KG
2  101291000     경주말  Horses for racing     KG
3  101299000      기타              Other     KG
4  101300000     당나귀              Asses     KG

In [17]:
tariff.head()

        품목번호  관세율 관세율구분 용도세율구분       적용개시일       적용만료일
0  101211000  0.0     A    NaN  2024-01-01  2024-12-31
1  101219000  8.0     A    NaN  2024-01-01  2024-12-31
2  101291000  8.0     A    NaN  2024-01-01  2024-12-31
3  101299000  8.0     A    NaN  2024-01-01  2024-12-31
4  101300000  8.0     A    NaN  2024-01-01  2024-12-31

In [20]:
merged_df = tariff.merge(hsdf, left_on='품목번호', right_on='HS부호')

In [24]:
len(tariff) == len(merged_df)

True

In [29]:
merged_df

,품목번호,관세율,관세율구분,용도세율구분,적용개시일,적용만료일,HS부호,한글품목명,영문품목명,중량단위코드
0,101211000,0.0,A,NaN,2024-01-01,2024-12-31,101211000,농가 사육용,For farm breeding,KG
1,101211000,13.1,C,NaN,2024-01-01,2024-12-31,101211000,농가 사육용,For farm breeding,KG
2,101211000,0.0,FAS1,NaN,2024-01-01,2024-12-31,101211000,농가 사육용,For farm breeding,KG
3,101211000,0.0,FAU1,NaN,2024-01-01,2024-12-31,101211000,농가 사육용,For farm breeding,KG
4,101211000,0.0,FCA1,NaN,2024-01-01,2024-12-31,101211000,농가 사육용,For farm breeding,KG

In [30]:
cols = ['품목번호', '한글품목명', '영문품목명', '관세율구분', '관세율'] + [col for col in merged_df.columns if col not in ['품목번호', '한글품목명', '영문품목명', '관세율구분', '관세율']]
merged_df = merged_df[cols]

In [38]:
merged_df['한글품목명'].isnull().sum()

0

In [39]:
merged_df.head()

,품목번호,한글품목명,영문품목명,관세율구분,관세율,용도세율구분,적용개시일,적용만료일,HS부호,중량단위코드
0,101211000,농가 사육용,For farm breeding,A,0.0,NaN,2024-01-01,2024-12-31,101211000,KG
1,101211000,농가 사육용,For farm breeding,C,13.1,NaN,2024-01-01,2024-12-31,101211000,KG
2,101211000,농가 사육용,For farm breeding,FAS1,0.0,NaN,2024-01-01,2024-12-31,101211000,KG
3,101211000,농가 사육용,For farm breeding,FAU1,0.0,NaN,2024-01-01,2024-12-31,101211000,KG
4,101211000,농가 사육용,For farm breeding,FCA1,0.0,NaN,2024-01-01,2024-12-31,101211000,KG

In [72]:
unique_values = merged_df.groupby('품목번호')['관세율구분'].nunique()
print(unique_values)
# 우선순위 1 : 7
# 우선순위 2: 15
# 우선순위 3: 12
# 우선순위 4: 2
# 우선순위 5~7: 3
7+ 15 + 12 + 2 + 3

품목번호
101211000     35
101219000     35
101291000     35
101299000     35
101300000     45
              ..
9706102000    33
9706103000    33
9706901000    33
9706902000    33
9706903000    33
Name: 관세율구분, Length: 11293, dtype: int64

39

In [73]:
merged_df[merged_df['품목번호']==101300000]

,품목번호,한글품목명,영문품목명,관세율구분,관세율,용도세율구분,적용개시일,적용만료일,HS부호,중량단위코드
140,101300000,당나귀,Asses,A,8.0,NaN,2024-01-01,2024-12-31,101300000,KG
141,101300000,당나귀,Asses,C,13.1,NaN,2024-01-01,2024-12-31,101300000,KG
142,101300000,당나귀,Asses,FAS1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
143,101300000,당나귀,Asses,FAU1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
144,101300000,당나귀,Asses,FCA1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
145,101300000,당나귀,Asses,FCECR1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
146,101300000,당나귀,Asses,FCEHN1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
147,101300000,당나귀,Asses,FCENI1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
148,101300000,당나귀,Asses,FCEPA1,1.6,NaN,2024-01-01,2024-12-31,101300000,KG
149,101300000,당나귀,Asses,FCEPA2,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
150,101300000,당나귀,Asses,FCESV1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
151,101300000,당나귀,Asses,FCL1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
152,101300000,당나귀,Asses,FCN1,4.0,NaN,2024-01-01,2024-12-31,101300000,KG
153,101300000,당나귀,Asses,FCN2,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
154,101300000,당나귀,Asses,FCO1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
155,101300000,당나귀,Asses,FEFCH,6.4,NaN,2024-01-01,2024-12-31,101300000,KG
156,101300000,당나귀,Asses,FEFCH1,4.0,NaN,2024-01-01,2024-12-31,101300000,KG
157,101300000,당나귀,Asses,FEFIS,6.4,NaN,2024-01-01,2024-12-31,101300000,KG
158,101300000,당나귀,Asses,FEFIS1,4.0,NaN,2024-01-01,2024-12-31,101300000,KG
159,101300000,당나귀,Asses,FEFNO,6.4,NaN,2024-01-01,2024-12-31,101300000,KG
160,101300000,당나귀,Asses,FEU1,0.0,NaN,2024-01-01,2024-06-30,101300000,KG
161,101300000,당나귀,Asses,FGB1,0.0,NaN,2024-01-01,2024-06-30,101300000,KG
162,101300000,당나귀,Asses,FID1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
163,101300000,당나귀,Asses,FIL1,3.2,NaN,2024-01-01,2024-12-31,101300000,KG
164,101300000,당나귀,Asses,FIL2,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
165,101300000,당나귀,Asses,FIN1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
166,101300000,당나귀,Asses,FKH1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
167,101300000,당나귀,Asses,FNZ1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
168,101300000,당나귀,Asses,FPE1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
169,101300000,당나귀,Asses,FRCAS1,6.4,NaN,2024-01-01,2024-12-31,101300000,KG
170,101300000,당나귀,Asses,FRCAS2,5.6,NaN,2024-01-01,2024-12-31,101300000,KG
171,101300000,당나귀,Asses,FRCAU1,6.4,NaN,2024-01-01,2024-12-31,101300000,KG
172,101300000,당나귀,Asses,FRCAU2,5.6,NaN,2024-01-01,2024-12-31,101300000,KG
173,101300000,당나귀,Asses,FRCCN1,6.4,NaN,2024-01-01,2024-12-31,101300000,KG
174,101300000,당나귀,Asses,FRCCN2,5.6,NaN,2024-01-01,2024-12-31,101300000,KG
175,101300000,당나귀,Asses,FRCJP1,6.4,NaN,2024-01-01,2024-12-31,101300000,KG
176,101300000,당나귀,Asses,FRCJP2,5.6,NaN,2024-01-01,2024-12-31,101300000,KG
177,101300000,당나귀,Asses,FRCNZ1,6.4,NaN,2024-01-01,2024-12-31,101300000,KG
178,101300000,당나귀,Asses,FRCNZ2,5.6,NaN,2024-01-01,2024-12-31,101300000,KG
179,101300000,당나귀,Asses,FSG1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
180,101300000,당나귀,Asses,FTR1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
181,101300000,당나귀,Asses,FUS1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
182,101300000,당나귀,Asses,FVN1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
183,101300000,당나귀,Asses,R,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
184,101300000,당나귀,Asses,U,0.0,NaN,2024-01-01,2024-12-31,101300000,KG

In [57]:
selected_rows = merged_df[merged_df['품목번호'] == '101211000']

In [68]:
selected_rows = merged_df[merged_df['한글품목명'].str.contains('당나귀')]

In [69]:
selected_rows

,품목번호,한글품목명,영문품목명,관세율구분,관세율,용도세율구분,적용개시일,적용만료일,HS부호,중량단위코드
140,101300000,당나귀,Asses,A,8.0,NaN,2024-01-01,2024-12-31,101300000,KG
141,101300000,당나귀,Asses,C,13.1,NaN,2024-01-01,2024-12-31,101300000,KG
142,101300000,당나귀,Asses,FAS1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
143,101300000,당나귀,Asses,FAU1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
144,101300000,당나귀,Asses,FCA1,0.0,NaN,2024-01-01,2024-12-31,101300000,KG
...,...,...,...,...,...,...,...,...,...,...
2835,205000000,"말ㆍ당나귀ㆍ노새ㆍ버새의 고기(신선한 것, 냉장하거나 냉동한 것으로 한정한다)","Meat of horses, asses, mules or hinnies, fresh...",FTR1,27.0,NaN,2024-01-01,2024-12-31,205000000,KG
2836,205000000,"말ㆍ당나귀ㆍ노새ㆍ버새의 고기(신선한 것, 냉장하거나 냉동한 것으로 한정한다)","Meat of horses, asses, mules or hinnies, fresh...",FUS1,0.0,NaN,2024-01-01,2024-12-31,205000000,KG
2837,205000000,"말ㆍ당나귀ㆍ노새ㆍ버새의 고기(신선한 것, 냉장하거나 냉동한 것으로 한정한다)","Meat of horses, asses, mules or hinnies, fresh...",FVN1,0.0,NaN,2024-01-01,2024-12-31,205000000,KG
2838,205000000,"말ㆍ당나귀ㆍ노새ㆍ버새의 고기(신선한 것, 냉장하거나 냉동한 것으로 한정한다)","Meat of horses, asses, mules or hinnies, fresh...",R,0.0,NaN,2024-01-01,2024-12-31,205000000,KG
2839,205000000,"말ㆍ당나귀ㆍ노새ㆍ버새의 고기(신선한 것, 냉장하거나 냉동한 것으로 한정한다)","Meat of horses, asses, mules or hinnies, fresh...",U,0.0,NaN,2024-01-01,2024-12-31,205000000,KG

NameError: name 'strlen' is not defined