In [2]:
import pandas as pd

df = pd.read_csv('HScode(2023).csv')

In [3]:
df.columns

Index(['HS부호', '적용시작일자', '적용종료일자', '한글품목명', '영문품목명', 'HS부호내용', '한국표준무역분류명',
       '수량단위최대단가', '중량단위최대단가', '수량단위코드', '중량단위코드', '수출성질코드', '수입성질코드', '품목규격명',
       '필수규격명', '참고규격명', '규격설명', '규격사항내용', '성질통합분류코드', '성질통합분류코드명'],
      dtype='object')

In [4]:
df.head()

,HS부호,적용시작일자,적용종료일자,한글품목명,영문품목명,HS부호내용,한국표준무역분류명,수량단위최대단가,중량단위최대단가,수량단위코드,중량단위코드,수출성질코드,수입성질코드,품목규격명,필수규격명,참고규격명,규격설명,규격사항내용,성질통합분류코드,성질통합분류코드명
0,101211000,2013-01-01,2023-12-31,농가 사육용,For farm breeding,NaN,NaN,NaN,NaN,U,KG,11Z01,12399,NaN,NaN,NaN,NaN,NaN,11020101.0,(말)
1,101219000,2012-01-01,2023-12-31,기타,Other,NaN,NaN,NaN,NaN,U,KG,11Z01,12399,NaN,NaN,NaN,NaN,NaN,11020101.0,(말)
2,101291000,2012-01-01,2023-12-31,경주말,Horses for racing,NaN,NaN,NaN,NaN,U,KG,11Z01,12399,NaN,NaN,NaN,NaN,NaN,11020101.0,(말)
3,101299000,2012-01-01,2023-12-31,기타,Other,NaN,NaN,NaN,NaN,U,KG,11Z01,12399,NaN,NaN,NaN,NaN,NaN,11020101.0,(말)
4,101300000,2022-01-01,2023-12-31,당나귀,Asses,NaN,NaN,NaN,NaN,U,KG,11Z01,12399,NaN,NaN,NaN,NaN,NaN,11020190.0,(기타 산 동물)

In [5]:
len(df)

12422

In [9]:
df['중량단위코드'].unique()

array(['KG', nan], dtype=object)

In [12]:
newHS_df = df[['HS부호', '한글품목명', '영문품목명', '중량단위코드']]

In [15]:
newHS_df.to_csv('HS_df.csv', index = True)