In [26]:
params = {
    'serviceKey': 'gGDom+BIbgsPl1jf3j7m6aMaMtBwgPBtgrenGKVs8VX2Ap9RcGYULywUHIvwxp2bI/XJ9Z7DJMqwuO8RRVMofw==',
    'page': '2',
    'perPage': '1000'
}

response = requests.get('https://api.odcloud.kr/api/15051179/v1/uddi:7f43bd09-d336-4d62-aa5e-de6f7c154ec2', params=params)

# 응답 내용을 출력합니다.
print(response)

<Response [200]>

In [27]:
import json

data = json.loads(response.text)

In [28]:
import pandas as pd

df = pd.DataFrame(data['data'])

In [31]:
params = {
    'serviceKey': 'gGDom+BIbgsPl1jf3j7m6aMaMtBwgPBtgrenGKVs8VX2Ap9RcGYULywUHIvwxp2bI/XJ9Z7DJMqwuO8RRVMofw==',
    'page': '1',
    'perPage': '1000'  # 한 번의 요청으로 얻을 수 있는 최대 항목 수
}

url = 'https://api.odcloud.kr/api/15051179/v1/uddi:7f43bd09-d336-4d62-aa5e-de6f7c154ec2'

# 첫 번째 요청을 보내서 총 항목 수를 확인
response = requests.get(url, params=params)
data = json.loads(response.text)
total_count = data['totalCount']

# 총 페이지 수 계산
total_pages = total_count // int(params['perPage']) + (total_count % int(params['perPage']) > 0)

# 모든 페이지에 대해 요청을 반복
all_data = []
for page in range(1, total_pages + 1):
    params['page'] = str(page)
    response = requests.get(url, params=params)
    data = json.loads(response.text)
    all_data.extend(data['data'])

# all_data에는 이제 API가 제공하는 모든 데이터가 포함되어 있습니다.

In [33]:
df = pd.DataFrame(all_data)

In [43]:
df.shape

(367969, 9)

In [38]:
df.head()

    관세율 관세율구분  기준가격 단위당세액 용도세율구분       적용개시일  적용국가구분       적용만료일       품목번호
0  0.00     A   NaN  None   None  2024-01-01       1  2024-12-31  101211000
1  8.00     A   NaN  None   None  2024-01-01       1  2024-12-31  101219000
2  8.00     A   NaN  None   None  2024-01-01       1  2024-12-31  101291000
3  8.00     A   NaN  None   None  2024-01-01       1  2024-12-31  101299000
4  8.00     A   NaN  None   None  2024-01-01       1  2024-12-31  101300000

In [42]:
duplicates = df.duplicated(subset='품목번호', keep=False)
print(duplicates.any())

True

In [46]:
# 중복된 '품목번호'를 가진 모든 행을 찾습니다.
duplicated_rows = df[df.duplicated(subset='품목번호', keep='first')]

# 중복된 행을 출력합니다.
print(duplicated_rows)

# 중복된 행의 개수를 출력합니다.
print('Number of duplicated rows:', len(duplicated_rows))

          관세율 관세율구분  기준가격    단위당세액 용도세율구분       적용개시일  적용국가구분       적용만료일  \
11293    5.00    A1   NaN     None   None  2024-01-01       1  2024-12-31
11294    5.00    A1   NaN     None   None  2024-01-01       1  2024-12-31
11295   13.10     C   NaN     None   None  2024-01-01       1  2024-12-31
11296   13.10     C   NaN     None   None  2024-01-01       1  2024-12-31
11297   13.10     C   NaN     None   None  2024-01-01       1  2024-12-31
...       ...   ...   ...      ...    ...         ...     ...         ...
367964  51.00    W2   NaN   5276.0   None  2024-01-01       1  2024-12-31
367965  51.70    W2   NaN  17215.0   None  2024-01-01       1  2024-12-31
367966  51.70    W2   NaN  17215.0   None  2024-01-01       1  2024-12-31
367967  51.70    W2   NaN  17215.0   None  2024-01-01       1  2024-12-31
367968  51.70    W2   NaN  17215.0   None  2024-01-01       1  2024-12-31

              품목번호
11293   8448320000
11294   8448330000
11295    101211000
11296    101219000
11297    101291000
...            ...
367964  5001000000
367965  5002001020
367966  5002001030
367967  5002001040
367968  5002001050

[356676 rows x 9 columns]
Number of duplicated rows: 356676

In [48]:
# '품목번호'가 8448320000인 모든 행을 찾습니다.
selected_rows = df[df['품목번호'] == 8448320000]

# 선택된 행을 출력합니다.
print(selected_rows)

          관세율   관세율구분  기준가격 단위당세액 용도세율구분       적용개시일  적용국가구분       적용만료일  \
8790     8.00       A   NaN  None   None  2024-01-01       1  2024-12-31
11293    5.00      A1   NaN  None   None  2024-01-01       1  2024-12-31
19029   13.00       C   NaN  None   None  2024-01-01       1  2024-12-31
34962    0.00    FAS1   NaN  None   None  2024-01-01       2  2024-12-31
46527    0.00    FAU1   NaN  None   None  2024-01-01       2  2024-12-31
57871    0.00    FCA1   NaN  None   None  2024-01-01       2  2024-12-31
68689    0.00  FCECR1   NaN  None   None  2024-01-01       2  2024-12-31
79491    0.00  FCEHN1   NaN  None   None  2024-01-01       2  2024-12-31
90337    0.00  FCENI1   NaN  None   None  2024-01-01       2  2024-12-31
101159   0.00  FCEPA1   NaN  None   None  2024-01-01       2  2024-12-31
111970   0.00  FCESV1   NaN  None   None  2024-01-01       2  2024-12-31
122803   0.00    FCL1   NaN  None   None  2024-01-01       2  2024-12-31
134109   0.00    FCN1   NaN  None   None  2024-01-01       2  2024-12-31
145611   0.00    FCO1   NaN  None   None  2024-01-01       2  2024-12-31
155610   0.00    FEF1   NaN  None   None  2024-01-01       2  2024-12-31
167892   0.00    FEU1   NaN  None   None  2024-01-01       2  2024-06-30
179226   0.00    FGB1   NaN  None   None  2024-01-01       2  2024-06-30
190057   0.00    FID1   NaN  None   None  2024-01-01       2  2024-12-31
201381   0.00    FIL1   NaN  None   None  2024-01-01       2  2024-12-31
211740   0.00    FIN1   NaN  None   None  2024-01-01       2  2024-12-31
223064   0.00    FKH1   NaN  None   None  2024-01-01       2  2024-12-31
234433   0.00    FNZ1   NaN  None   None  2024-01-01       2  2024-12-31
245788   0.00    FPE1   NaN  None   None  2024-01-01       2  2024-12-31
256673   0.00  FRCAS1   NaN  None   None  2024-01-01       2  2024-12-31
267841   0.00  FRCAU1   NaN  None   None  2024-01-01       2  2024-12-31
278105   0.00  FRCCN1   NaN  None   None  2024-01-01       2  2024-12-31
287662   5.60  FRCJP1   NaN  None   None  2024-01-01       2  2024-12-31
290092   0.00  FRCJP2   NaN  None   None  2024-01-01       2  2024-12-31
298676   0.00  FRCNZ1   NaN  None   None  2024-01-01       2  2024-12-31
309092   0.00    FSG1   NaN  None   None  2024-01-01       2  2024-12-31
320332   0.00    FTR1   NaN  None   None  2024-01-01       2  2024-12-31
331729   0.00    FUS1   NaN  None   None  2024-01-01       2  2024-12-31
343158   0.00    FVN1   NaN  None   None  2024-01-01       2  2024-12-31
353612   0.00       R   NaN  None   None  2024-01-01       2  2024-12-31
364960   0.00       U   NaN  None   None  2024-01-01       1  2024-12-31

              품목번호
8790    8448320000
11293   8448320000
19029   8448320000
34962   8448320000
46527   8448320000
57871   8448320000
68689   8448320000
79491   8448320000
90337   8448320000
101159  8448320000
111970  8448320000
122803  8448320000
134109  8448320000
145611  8448320000
155610  8448320000
167892  8448320000
179226  8448320000
190057  8448320000
201381  8448320000
211740  8448320000
223064  8448320000
234433  8448320000
245788  8448320000
256673  8448320000
267841  8448320000
278105  8448320000
287662  8448320000
290092  8448320000
298676  8448320000
309092  8448320000
320332  8448320000
331729  8448320000
343158  8448320000
353612  8448320000
364960  8448320000

In [49]:
367969-356676

11293

In [56]:
unique_values = df['품목번호'].unique()
len(unique_values)

11293

In [62]:
unique_values = df['적용국가구분'].unique()
unique_values

array([1, 2])

In [59]:
unique_values = df['관세율구분'].unique()
unique_values

array(['A', 'A1', 'C', 'C1', 'C2', 'C2A1', 'C2A2', 'C2A3', 'C2A4', 'C2A5',
       'C2A6', 'C2A7', 'C2A8', 'C3', 'C4', 'C5', 'C6', 'D', 'E1', 'E1A1',
       'E1A10', 'E1A2', 'E1A3', 'E1A4', 'E1A5', 'E1A6', 'E1A7', 'E1A8',
       'E1A9', 'E1B1', 'E1B2', 'E1B3', 'E1B4', 'E2', 'E2A1', 'E2A2',
       'E2A3', 'E3', 'E3A1', 'E3A2', 'E3A3', 'F', 'FAS1', 'FAS2', 'FAS3',
       'FAS4', 'FASID', 'FASPH1', 'FASPH2', 'FASPH3', 'FASTH', 'FASVN1',
       'FASVN2', 'FAU1', 'FAU2', 'FAU3', 'FAU4', 'FAU5', 'FAU8', 'FAU9',
       'FCA1', 'FCA2', 'FCA3', 'FCA4', 'FCA5', 'FCA6', 'FCA8', 'FCA9',
       'FCECR1', 'FCECR2', 'FCECR3', 'FCECR4', 'FCECR5', 'FCEHN1',
       'FCEHN2', 'FCEHN3', 'FCEHN4', 'FCEHN5', 'FCEHN7', 'FCENI1',
       'FCENI2', 'FCENI3', 'FCENI4', 'FCENI5', 'FCENI7', 'FCEPA1',
       'FCEPA2', 'FCEPA3', 'FCEPA4', 'FCEPA5', 'FCEPA6', 'FCEPA7',
       'FCEPA8', 'FCESV1', 'FCESV2', 'FCESV3', 'FCESV4', 'FCESV5',
       'FCESV7', 'FCL1', 'FCL5', 'FCN1', 'FCN10', 'FCN2', 'FCN3', 'FCN4',
       'FCN5', 'FCN6', 'FCN7', 'FCN8', 'FCN9', 'FCO1', 'FCO2', 'FCO3',
       'FCO4', 'FCO5', 'FCO7', 'FCO8', 'FEF1', 'FEF2', 'FEF3', 'FEF4',
       'FEFCH', 'FEFCH1', 'FEFIS', 'FEFIS1', 'FEFIS2', 'FEFNO', 'FEFNO1',
       'FEU1', 'FEU2', 'FEU3', 'FEU6', 'FEU7', 'FGB1', 'FGB2', 'FGB3',
       'FGB8', 'FGB9', 'FID1', 'FID2', 'FID3', 'FIL1', 'FIL2', 'FIL3',
       'FIL4', 'FIL5', 'FIN1', 'FIN2', 'FKH1', 'FKH2', 'FKH3', 'FKH4',
       'FNZ1', 'FNZ10', 'FNZ2', 'FNZ3', 'FNZ4', 'FNZ5', 'FNZ6', 'FNZ8',
       'FNZ9', 'FPE1', 'FPE2', 'FPE3', 'FPE4', 'FRCAS1', 'FRCAS2',
       'FRCAS3', 'FRCAS4', 'FRCAS5', 'FRCAS6', 'FRCAS7', 'FRCAS8',
       'FRCAU1', 'FRCAU2', 'FRCAU3', 'FRCAU4', 'FRCAU5', 'FRCAU6',
       'FRCAU7', 'FRCAU8', 'FRCCN1', 'FRCCN2', 'FRCCN3', 'FRCCN4',
       'FRCCN5', 'FRCJP1', 'FRCJP2', 'FRCJP3', 'FRCJP4', 'FRCJP5',
       'FRCJP6', 'FRCJP9', 'FRCNZ1', 'FRCNZ2', 'FRCNZ3', 'FRCNZ4',
       'FRCNZ5', 'FRCNZ6', 'FRCNZ7', 'FRCNZ8', 'FSG1', 'FTR1', 'FTR2',
       'FTR3', 'FTR4', 'FTR5', 'FTR6', 'FTR7', 'FUS1', 'FUS2', 'FUS3',
       'FUS5', 'FUS6', 'FUS8', 'FVN1', 'FVN2', 'FVN3', 'FVN4', 'FVN5',
       'FVN6', 'FVN7', 'FVN8', 'G1', 'G2', 'L', 'P1', 'P3', 'R', 'T1',
       'T2', 'U', 'W1', 'W2'], dtype=object)

In [63]:
unique_values = df['용도세율구분'].unique()
unique_values

array([None, 'A', 'C'], dtype=object)

In [64]:
new_df = df[['품목번호','관세율','관세율구분','용도세율구분','적용개시일','적용만료일']]

new_df.head()

        품목번호   관세율 관세율구분 용도세율구분       적용개시일       적용만료일
0  101211000  0.00     A   None  2024-01-01  2024-12-31
1  101219000  8.00     A   None  2024-01-01  2024-12-31
2  101291000  8.00     A   None  2024-01-01  2024-12-31
3  101299000  8.00     A   None  2024-01-01  2024-12-31
4  101300000  8.00     A   None  2024-01-01  2024-12-31